<div class="patients">
    <div class="main">
       <div class="patients-section">
        <div class="header">
            <div class="card flex flex-wrap justify-content-center gap-3">
              <input class="search" type="text" placeholder="search" />
            </div>
    
            <div class="icons">
              <i class="pi pi-bell"></i>
              <i class="pi pi-comment"></i>
            </div>
        </div>
        <div class="table-card">
            <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr style="height: 30px;">
                        <th>Code</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr style="height: 50px;padding: 0 5px;">
                        <td>{{ product.code }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.quantity }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
       </div>
    </div>
</div>

