<div class="dashboard">
    <div class="main">
        <div class="left-container">
            <div class="header">
                <div class="card flex flex-wrap justify-content-center gap-3">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" />
                    </span>
                </div>

               <div class="icons">
                <i class="pi pi-bell"></i>
                <i class="pi pi-comment"></i>
               </div>
            </div>
            <div class="cards">

            </div>
            <div class="appointments">

            </div>
        </div>
        <div class="right-container">

        </div>
    </div>
</div>
