<div class="dashboard">
  <div class="main">
    <div class="left-container">
      <div class="header">
        <div class="card flex flex-wrap justify-content-center gap-3">
          <input class="search" type="text" placeholder="search" />
        </div>

        <div class="icons">
          <i class="pi pi-bell"></i>
          <i class="pi pi-comment"></i>
        </div>
      </div>
      <div class="day">
        <h5>Today</h5>
      </div>
      <div class="cards">
        <div class="appointment-card">
          <div class="card-title">
            <h5>Appointments</h5>
            <i class="pi pi-ellipsis-v"></i>
          </div>
          <div class="body">
            <h2>245</h2>
          </div>
          <div class="footer">
            <img
              src="/assets/images/treatment.png"
              height="80"
              width="80"
            />
          </div>
        </div>
        <div class="appointment-card">
          <div class="card-title">
            <h5>Appointments</h5>
            <i class="pi pi-ellipsis-v"></i>
          </div>
          <div class="body">
            <h2>245</h2>
          </div>
          <div class="footer">
            <img
              src="/assets/images/treatment.png"
              height="80"
              width="80"
            />
          </div>
        </div>
        <div class="appointment-card">
          <div class="card-title">
            <h5>Appointments</h5>
            <i class="pi pi-ellipsis-v"></i>
          </div>
          <div class="body">
            <h2>245</h2>
          </div>
          <div class="footer">
            <img
              src="/assets/images/treatment.png"
              height="80"
              width="80"
            />
          </div>
        </div>
      </div>
      <div class="table-card">
        <div class="card-header">
            <h3>Appointments</h3>
            <h5 style="color: blue;cursor: pointer;">View All</h5>
        </div>
        <p-table
          [value]="products"
          [tableStyle]="{ 'min-width': '50rem','margin-top':'20px' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Category</th>
              <th>Quantity</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.code }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.category }}</td>
              <td>{{ product.quantity }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="right-container">
      <div class="header">
        <h5>Upcoming Schedule</h5>
        <h6 style="color: blue;cursor: pointer;">View All</h6>
      </div>
        <div class="card">
            <p-timeline [value]="events">
                <ng-template pTemplate="content" let-event>
                    <small class="p-text-secondary">{{ event.status }}</small>
                </ng-template>
                <ng-template pTemplate="opposite" let-event>
                  <small class="p-text-secondary">{{ event.date }}</small>
                </ng-template>
            </p-timeline>
        </div>
    </div>
  </div>
</div>
