<div class="sideNav">
   <div class="header">
    <h2>Health Hub</h2>
   </div>
   <div class="links">
     <ul>
        <li routerLink = "/"  routerLinkActive="active" ariaCurrentWhenActive="page"><i class="pi pi-th-large"></i>Dashboard</li>
        <li routerLink = "/appointments"  routerLinkActive="active" ariaCurrentWhenActive="page"><i class="pi pi-calendar-plus"></i>Appointments</li>
        <li routerLink = "/patients"  routerLinkActive="active" ariaCurrentWhenActive="page"><i class="pi pi-users"></i>Patients</li>
        <li><i class="pi pi-calendar"></i>Schedule</li>
        <li><i class="pi pi-book"></i>Documents</li>
        <li><i class="pi pi-briefcase"></i>Medication</li>
     </ul>
   </div>
   <div class="footer">
      <ul>
        <li><i class="pi pi-bell"></i>Notifications</li>
        <li><i class="pi pi-cog"></i>Settings</li>
        <li><i class="pi pi-user"></i>Profile</li>
      </ul>
   </div>
</div>
